@import url("https://use.typekit.net/vmw8daj.css");
div:not(.tree-icon):not(.mdi-traffic-light):not(.icomoon-cells), span:not(.tree-icon):not(.mdi-traffic-light):not(.icomoon-cells) { 
    font-family: "semplicitapro" !important; font-weight:400 !important; 
}
#workspace_toolbar + div > div:last-child > button:last-child {
    display: none !important;
}
.home-top-logo {
    height: 80px !important;
}
.user-dashboard-template > .desktop-container > div:first-child {
    background-color: rgba(255, 255, 255, 0.1) !important;
}
.left-panel > div:first-child {
    background-color: rgb(27,42,70) !important;
}
.left-panel, .scrollarea, .mimefont-container {
    background-color: white !important; 
}
.user-display > *, .userActionIcon, .drawer-button {
    color: white !important;
}
.mimefont-container > * {
    font-family: "Material Design Icons" !important;
}
.material-list .material-list-entry > * {
    cursor: pointer;
}
.material-list .material-list-entry.selected {
    background-color: white !important;
}
.material-list .material-list-entry.selected > * {
    color: #08070a !important;
}
.material-list .material-list-entry.selected .material-list-text .material-list-line-2 > span,
.material-list .material-list-entry.selected .material-list-text .material-list-line-1 > span {
    color: rgba(8,7,10,0.8) !important;
}
.material-list .material-list-entry.selected .material-list-text .material-list-line-1,
.material-list .material-list-entry.selected .material-list-text .material-list-line-1 > span:first-child {
    color: #f1754c !important;
}
