#workspace_toolbar + div > div:last-child > button:last-child { display:none !important; }
.left-panel, .scrollarea { background-color:#f2f1f2 !important; }
.primaryColorDarkerPaper { background-color:#272527 !important; }
